[submodule "io_soulstruct_lib/soulstruct"]
	path = io_soulstruct_lib/soulstruct
	url = git@github.com:nightreign-companion/soulstruct.git
[submodule "io_soulstruct_lib/soulstruct-havok"]
	path = io_soulstruct_lib/soulstruct-havok
	url = https://github.com/nightreign-companion/soulstruct-havok.git
